<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60432298466-dqrq3bq2uqri8oc7dlomnt3iusmt6i91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60432298466-dqrq3bq2uqri8oc7dlomnt3iusmt6i91</string>
	<key>API_KEY</key>
	<string>AIzaSyACLtAD-zt3OpPpqqv7andJ_QMVZ_U5glg</string>
	<key>GCM_SENDER_ID</key>
	<string>60432298466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>val.InterviewApp</string>
	<key>PROJECT_ID</key>
	<string>interviewapp-3e4fd</string>
	<key>STORAGE_BUCKET</key>
	<string>interviewapp-3e4fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60432298466:ios:fe030d5c5e9be57f2189bb</string>
</dict>
</plist>